@*@using Foktov.DocumentStorage.Models 
@model UserLogin Эта ерунда для PartialView;*@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Поздравляю</title>
</head>
<body>
    Ты прошел авторизацию;

    @*@Html.Partial("~/Views/PartialView/_Autorization.cshtml")*@
</body>
</html>
